*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Helvetica';
}

Header{
    text-align:center;
    font-size: 30px;
    padding:20px; text-align:left;
    background-color: #75ABF0;
}

Header img{
    height: 75px;
}

Header ul li a{
    padding:20px;
    color: white;
    text-decoration: none;
}

Header ul li a:hover{
    background-color: #7FC9E7;
    border-radius: 30px;
    opacity: 0.4;
}

header ul li{
    padding: 18px;
    display:inline-block;
}

Header ul {
    padding-left: 0px;
}

section{
    font-size: 30px;
    padding-top: 70px;
    text-align: center;
}

section h1{
    padding-bottom:35px ;
}

body{
	background: linear-gradient(to right, #BCF2F6, white);
	font-family: 'Helvetica';
}

section p{
    font-family: 'Times';
    color: #283E6A;
}

#wrapper{
    min-height: 100%;
    position: relative;
}

#middle-zone{
    padding-bottom:800px ;
}

#footer-zone{
    text-align:center;
    font-size: 30px;
    padding:20px; text-align:center;
    background-color: #75ABF0;
    bottom: 0;
    left: 0;
    position: absolute;
    color: white;
    width: 100%;
    height: 160px;
}

div table{
    border-collapse: separate;
    margin-left: 360px;
    margin-right: 10px;
    align-items: center;
}